<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DevToolsTest" verbose="2">
    <test name="Browser" parallel="methods" thread-count="4">
        <classes>
            <class name="com.github.sudharsan_selvaraj.cdp.Browserr"/>
        </classes>
    </test>
</suite>